.check
.register
  %form.signup
    %fieldset.race
      %a.avatar.hide
      %p.availability
      %input#desired_slug{name: "slug", type: "text", required: "required"}
      %span.domain
        \.fellrace.org.uk
    %fieldset.user
      %input#email{name: "email", type: "email", required: "required", placeholder: "email address"}
      %input{ type: "submit", value: "Sign up"}
      %p.note
        When you click 'sign up' we'll send a confirmation message to 
        %span.email
        Click on its large friendly button
        %span.outcome
  %p
    Already got one? Please
    %a.sign_in
      sign in first.