@import vendor/medium-editor
@import lib/definitions
@import lib/notifications
@import lib/fonts

$translucent: rgba(255,255,255,0.92)

// -- temporary -- //

span.currency
  &:before
    content: "£"

// -------------- //

body, html
  width: 100%
  height: 100%

body
  margin: 0
  +light
  line-height: 1.4
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

a
  text-decoration: none
  color: $link
  cursor: pointer
  &:active
    color: $dark
  &:hover
    color: $hover

[contentEditable]
  color: $mid

.hidden
  display: none

span.editable
  display: inline-block
  min-width: 12px

input[type="file"]
  display: none

a.add
  color: $green
  font-weight: normal
  // white-space: nowrap
  +icon_link("add.png")
  cursor: pointer

a.set
  color: $blue
  font-weight: normal
  white-space: nowrap
  +icon_link("set.png")

a.close
  +icon_link("close.png")
  display: block
  width: 32px
  height: 32px

form.bubble
  width: 320px
  input.title, textarea, select
    width: 295px
    margin-bottom: 6px
  input.title, select
    font-size: 1.5em
  textarea
    height: 120px
    font-size: 1em

input[type="submit"]
  +button($green)
  &.unavailable
    background-color: $mid
    +opacity(0.5)
    &:hover
      background-color: $mid

h3.robot
  padding-left: 22px
  min-height: 19px
  padding-top: 11px
  margin-left: -4px
  background:
    position: 0 0
    repeat: no-repeat
    image: image-url("robot.png")

table
  border-collapse: collapse
  width: 100%
  thead
    th
      text-align: left
  tr
    &.odd
    &.even
      background: $palest

table.ranking
  border-collapse: collapse
  border: 0
  margin-top: 10px
  tr.prized
    background-color: $palebg
    font-weight: bold
  tr.unfinished
    color: $mid
    a
      color: $mid
  th, td
    vertical-align: top
    font-size: 90%
    padding: 6px 10px
    text-align: left
    a
      color: $dark
    a:hover
      color: $hover
    &.prizes
      color: $mid
      font-size: 75%
  th
    a.sortable
      padding-left: 10px
      background: image-url('race_results/sorts.png') no-repeat 0 5px
      &.up
        background-position: 0 -11px
      &.down
        background-position: 0 -27px
      &:hover
        color: #f06
        background-position: 0 -59px
      &.up:hover
        background-position: 0 -43px
      &:active, &.up:active
        background-position: 0 -75px

div.performance_chart
  width: 800px
  height: 500px
  margin: 20px 0
  overflow: hidden
  ul
    display: none
  a.waiting
    display: block
    margin: 180px 380px

div.tooltip
  position: absolute
  display: none
  border: 1px solid #fdd
  padding: 2px
  background-color: white
  opacity: 0.90
  border: 1px solid $pale
  z-index: 1000

table.splits
  border-collapse: collapse
  border: 0
  margin-top: 10px
  tr.unfinished
    color: $mid
    a
      color: $mid
  th, td
    vertical-align: top
    font-size: 80%
    padding: 3px 5px
    text-align: left
    a
      color: $dark
    a:hover
      color: $hover
    span.interval
      color: $mid

p.download
  font-size: 1.4em
  a.csv
    padding-left: 20px
    background: transparent image-url('race_results/csv.png') no-repeat 0 0
    &:hover
      background-position: 0 -16px

table.index
  td.race_name
    font-size: 115%
    font-weight: bold
    vertical-align: top
    a
      color: black
      text-decoration: none
  td.race_instances
    padding: 8px
    width: 75%
    font-size: 90%
    vertical-align: top
    ul.instances
      list-style: square
      padding-left: 0
      li
        margin-bottom: 6px
        float: left
        margin-right: 32px
        a
          font-size: 115%
          font-weight: bold
          text-decoration: none
    p.new_instance
      clear: left

a.remove
  font-weight: bold
  color: #cc0000
  text-decoration: none

span.formnote, span.info
  color: #666666
  font-size: 85%

#content .form-area p.body
  margin-top: 20px

ul.help
  list-style: square
  color: #666666
  font-size: 85%
  code
    color: #cc0000
    font-size: 115%

p.haserror
  border-left: 4px solid #cc0000
  margin-left: -16px
  padding-left: 12px
  color: #cc0000 !important

.placeheld
  color: $pale

// -------------------------------------LAYOUT----------------------------------- //

$smallheight: 180px
$narrowwidth: 800px
$tallheight: 300px
$widewidth: 960px
$padding_x: 20px
$shadow: 1px 3px 8px #333

.gmap
  z-index: 10
  .map_holder
    background-color: $mid
    position: fixed !important
    top: 0
    right: 0
    bottom: 0
    left: 0
  .map_data
    display: block
    position: absolute
    top: 20px
    left: 20px
  .label
    padding: 0 4px 0 3px
    border-radius: 0 8px 8px 0

#results
  position: fixed !important
  top: 0
  left: 580px
  right: 0
  bottom: 0
  background: white
  display: none

#banner
  position: absolute
  top: 10px
  left: 10px
  +opacity(0.4)
  &:hover
    +opacity(1)
  a
    color: $dark
    +glow
    .title
      display: block
      margin: 0
      font-size: 160%
      font-weight: normal
      +light
    .strapline
      display: block
      margin: 0
      margin: -5px 0 0 1px
      font-size: 66%
      font-weight: bold

#action
  h3
    margin: 0
  position: fixed
  width: 280px
  max-height: 450px
  padding: 10px
  display: none
  border-radius: 3px
  box-shadow: 5px 5px 15px #bbb
  background-color: $translucent
  right: 20px
  top: 20px
  overflow: scroll
.signin
  span.email
    font-weight: bold
  .confirmation
    display: none
  p.error
    color: $red
  form
    margin: 0
    fieldset
      border: 0
      margin: 0
      padding: 0
      a.forgotten
        float: right
        color: $mid
        font-size: 90%
        margin-right: 5px
      input[type="text"],input[type="email"],input[type="password"]
        padding: 7px
        border: 1px solid $pale
        width: 265px
        color: $dark
        font-size: 1em
    .password_confirmation
      display: none
  .refusal
    color: $red
    a
      color: $red
      font-weight: bold
.register, .confirm
  p.availability
    &.ok,&.notok
      padding-left: 24px
      margin-left: -5px
    margin-bottom: 0.2em
    background:
      position: 0 0
      repeat: no-repeat
      image: image-url("availability.png")
    &.ok
      color: $green
      background-position: 0 -32px
    &.notok
      color: $red
      background-position: 0 -64px
  form
    margin: 0
    fieldset
      border: 0
      margin: 0
      padding: 0
      input[type="text"],input[type="email"],input[type="password"]
        padding: 7px
        border: 1px solid $pale
        width: 230px
        color: $dark
        font-size: 1em
      input#desired_slug
        min-width: 60px
        max-width: 120px
        font-size: 1em
        color: $mid
      span.domain
        font-size: 1em
        color: $mid
      p.names
        input
          width: 102px
          &:first-child
            margin-right: 6px



[contenteditable=true]:empty:after
  content: attr(data-placeholder)
  color: #999

#user_controls
  position: relative
  float: right
  margin: 10px
  display: none
  .user
    a.user_icon
      position: relative
      img
        width: 36px
        height: 36px
        border-radius: 24px
        background-color: white
    .pointer
      border-color: transparent
      border-bottom-color: $verypale
      border-style: dashed dashed solid
      border-width: 0 8px 8px
      position: absolute
      right: 10px
      top: -8px
      z-index: 1
      height: 0
      width: 0
    .user_controls
      position: absolute
      top: 50px
      right: 0
      width: 120px
      height: 100px
      z-index: 999
      background: $translucent
      border: 1px solid $verypale
      border-radius: 0 0 0 5px
      &.closed
        display: none
      a.me
        position: absolute
        top: 10px
        right: 10px
        background: $blue
      a.sign_out
        position: absolute
        right: 10px
        bottom: 10px

#content
  position: relative
  width: 580px
  background-color: $translucent
  border-right: 1px solid $mid
  z-index: 200
  +transition(margin-left, 0.5s, ease-out)
  #view_toggle
    position: absolute
    top: 359px
    right: 0
    margin-right: -29px
    width: 28px
    height: 54px
    border: 1px solid $mid
    border-left: none
    background-color: $translucent
    cursor: pointer
    z-index: 300
    background:
      position: 0 0
      repeat: no-repeat
      image: image-url('view_toggle.png')
    &:hover
      background-position: 0 -96px
  header
    position: absolute
    top: 0
    left: 0
    height: 60px

  main
    position: relative
    width: 100%
    #index
      margin: 0 15px
    #competitors
      .search_form
        margin-bottom: 10px
        span.param
          font-size: 1.2em
          min-width: 80px
          margin-right: 15px
        a.search
          +button($green)
    .race
      position: relative
      margin: 0
      width: 100%
      .race_head
        position: relative
        min-height: 70px
        .picture
          position: relative
          width: 100%
          max-height: 360px
          min-height: 70px
          overflow: hidden
          img
            opacity: 0.95
          .preview
            position: relative
            width: 100%

        .controls
          position: absolute
          right: 12px
          top: 12px
          font-size: 1.7em
          
        .social
          position: absolute
          right: 14px
          bottom: 14px
          height: 26px
          a
            display: block
            float: right
            overflow: hidden
            width: 26px
            height: 26px
            margin-left: 5px
            text-indent: 50px
            line-height: 50px
            &:last-child
              margin-left: 0
            background:
              position: 0 0
              image: image-url('externals.png')
            &.twit
              &:hover
                background-position: -32px 0
            &.fb
              background-position: 0 -48px
              &:hover
                background-position: -32px -48px
            &.fra
              background-position: 0 -192px
              &:hover
                background-position: -32px -192px
            &.shr
              background-position: 0 -240px
              &:hover
                background-position: -32px -240px
          

        .title
          position: absolute
          bottom: 0
          left: 0
          margin: 0 0 8px 28px
          h2.name
            margin: 0
            font-size: 2em
            &.on_picture
              text-shadow: 0 0 0.3em #000,0 0 0.3em #000
              color: white
              &.editable
                color: $verypale

      .race_body
        position: relative
        box-sizing: border-box
        margin: 20px 0
        padding: 0 24px 20px 32px
        width: 100%
        .summary
          box-sizing: border-box
          width: 45%
          padding-left: 10px
          float: right
          position: relative
          margin: 10px
          .profile
            position: relative
            .basic_details
              margin-top: -2em
              font-weight: bold
              text-align: center
          .next_or_recent
            margin-top: 5px
            text-align: center
            a.date
              font-weight: bold
          .next
            margin-left: 5px

        .delete
          line-height: 1em
        .details, .moredetails
          position: relative
          float: left
          box-sizing: border-box
          width: 50%
          padding-right: 20px
          > div
            clear: left
            margin: 1em 0
          ul
            margin: 0
            padding: 0
            list-style: none
          h3
            margin: 0
            margin-bottom: 0.25em
            input[type="checkbox"]
              margin-left: -20px
          p
            margin-top: 2px
            &.editable
              min-height: 40px
          p.note, li.note
            +quiet
          span.note
            color: $mid

        .conclusion
          clear: both
          color: $pale

        .description
          &:not([contenteditable]):empty
            display: none
          p:first-child
            margin-top: 0

        .details
          ul.checkpoints
            li.checkpoint
              height: 24px
              line-height: 24px
              border: 1px solid transparent
              .delete
                display: none
              &:hover
                .delete
                  display: inline-block
              &.placeholder
                background-color: white
                border: 1px dotted $pale
            &.published
              li.checkpoint
                cursor: pointer
                &:before
                  content: "\025CB"
                  width: 16px
                  display: inline-block
                  vertical-align: top
                  text-align: center
                  margin-right: 0.5em
                  margin-left: -0.2em
                &.start:before
                  content: "\025B3"
                &.finish:before
                  content: "\025CE"
            span.gridref
              color: $mid
              min-width: 20px
              font-size: 0.8em
            span.symbol
              display: inline-block
              vertical-align: middle
              text-align: center
              width: 14px
              color: red
              line-height: 1em
              &.unfixed
                cursor: move
            .placeholder
              margin-left: -1em
          ul.records
            li
              margin-bottom: 6px
              .delete
                display: none
              &:hover
                .delete
                  display: inline-block
            span.record
              font-weight: bold
            span.holder
              display: block
              color: $mid
          ul.attachments
            .attachment
              input[type="file"]
                display: none
              span.name
                max-width: 200px
                vertical-align: middle
              a.file_icon
                width: 20px
              &.frozen
                +opacity(0.25)
              .delete
                display: none
              &:hover
                .delete
                  display: inline-block
          .route
            .route_controls
              input[type="color"]
                width: 23px
              .delete
                display: none
              &:hover
                .delete
                  display: inline-block

        .moredetails
          padding-left: 10px
          margin-bottom: 3em
          a.social
            width: 16px
            overflow: hidden
          ul.links
            li
              margin-bottom: 4px
              .delete
                display: none
              &:hover
                .delete
                  display: inline-block
              .url:before
                content: "http://"
              span.title
                font-weight: bold
          ul.autolinks
            margin-top: 10px
            li
              margin-bottom: 4px
          ul.instances
            li.instance
              .delete
                display: none
              &:hover
                .delete
                  display: inline-block
              span.name, a.name
                font-weight: bold
              input[type="file"]
                display: none
              &.frozen
                +opacity(0.25)
          .enter_race
            background: $brightgreen

    #accountcontrols
      position: relative
      clear: left
      overflow: hidden
      background-color: $translucent
      min-height: 40px
      p
        margin: 0 10px 10px 32px
        color: $mid
        font-size: 90%

    #competitor
      margin-left: 10px
      margin-right: 10px
      position: relative

      #competitor_head
        display: table
        margin: 0 auto
        .picture
          float: left
        .details
          float: left
          .name
            margin: 0

      .summary
        display: table
        margin: 10px auto 0
        .attribute
          display: inline-block
          margin: 0 5px
          &.empty
            display: none
          .value
            width: 100%
            float: left
            text-align: center
            border-bottom: 1px dotted $pale
          .key
            width: 100%
            float: left
            clear: left
            text-align: center
            color: $pale

      table.performances
        tr
          th
          th, td
            padding: 5px
            &:last-child
              padding-right: 0
            &:first-child
              padding-left: 0
          th
            text-align: center
          td
            &.winner
              font-size: 0.7em
              span.winning_time
                float: right
            span.time
              float: right
            span.pos
              float: right
            span.total_competitors
              color: $pale
              float: right

section#extra
  box-sizing: border-box
  position: fixed
  top: 0
  left: 580px
  right: 0
  height: 100%
  overflow: auto
  padding: 20px 50px
  background: $translucent
  z-index: 100
  +transition(left, 0.5s, ease-out)
  h2
    margin: 0
  a.close
    position: absolute
    top: 20px
    right: 20px
  
  #results_file
    position: relative
    width: 90%
    height: 90%
    object
      display: block
      width: 100%
      height: 100%
      p
        margin: 24px 0

  &:empty
    display: none
  .instance
    &.new
      .save
        +button($rubine)
      p.instructions
        &.okay
          color: $green
        &.notready
          color: $red
    &.future
      .heading
        font-weight: bold
      .eod, .pre_entry
        margin-top: 20px
      .eod
        #eod_details
          padding: 20px
      .pre_entry
        #pre_entry_details
          padding: 20px
        .online, .postal
          float: left
          width: 50%
        table.entries
          +clear
          tr
            .complete
              color: $green
            .incomplete
              color: $red

    .results
      .results_preview
        // max-height: 250px
        overflow: auto
      label.pick
        +button

  #results_table
    margin-top: 20px
    margin-left: -6px
    thead
      th
        text-align: left
        vertical-align: top
        padding: 4px 10px
    tbody
      overflow: auto
      tr
        &.current
          font-weight: bold
          +glow($brightgreen) //TODO de-uglify
        &:hover
          background: rgba(189,189,189,0.25)
        &.female
          background: rgba(209,0,93,0.25)
          &:hover
            background: rgba(102,0,45,0.25)
      td
        vertical-align: top
        text-align: left
        padding: 4px 10px
        &.time
          font-weight: bold
        &.checkpoint
          span
            &.elapsed
              display: block
            &.split
              display: block
              font-size: 0.75em
              color: $pale

#content.collapsed
  margin-left: -540px
  #view_toggle
    background-position: 0 -48px
    &:hover
      background-position: 0 -144px
  
  &+#extra
    left: 40px


a.file_icon
  display: inline-block
  vertical-align: middle
  overflow: hidden
  padding: 2px
  min-height: 26px
  text-indent: 25px
  line-height: 26px
  background-image: image-url('icons.png')
  background: 
    repeat: no-repeat
    position: 0 0
  &.pdf
    background-position: 0 -200px
    color: #df0f00
  &.doc, &.docx
    background-position: 0 -400px
    color: #1683ab
    +hover
  &.xls, &.xlsx
    background-position: 0 -600px
    color: #369620
    +hover
  &.ppt, &.pptx
    background-position: 0 -800px
    color: #cc440a
    +hover
  &.add
    float: left
    width: 20px

a.file_name
  vertical-align: middle
  display: inline-block
  &.pdf
    color: #df0f00
  &.doc, &.docx
    color: #1683ab
  &.xls, &.xlsx
    color: #369620
  &.ppt, &.pptx
    color: #cc440a

.labels
  color: #FF0066
  font-size: 16px
  text-align: center
  white-space: nowrap

.button
  +button

#controls, .controls
  .edit, .accept, .pick
    +button($green)
  .reject, .disown
    +button($red)
  .save, .merge
    +button($rubine)
  .publish
    +button($rubine)
  .cancel
    +button($pale)
  .setmap
    +button($blue)
    overflow: hidden
  .enter
    +button($rubine)
    overflow: hidden
  .cancel, .close
    +button($mid)
  .settings
    +button($mid)
    width: 10px
    overflow: hidden
    text-indent: 50px
    span
      display: block
      position: absolute
      width: 26px
      height: 26px
      left: 5px
      top: 5px
      background:
        image: image-url('settings.png')
        repeat: no-repeat

ul.sortable
  margin: 0
  padding: 0
  width: 200px

ul.sortable li
  list-style: none
  background-color: #f8f8f8
  margin: 0
  padding: 5px 7px
  border: 1px solid #dbdbdb
  border-bottom: none
  font-size: 17px
  cursor: move

ul.sortable li:last-child
  border-bottom: 1px solid #dbdbdb

ul.sortable li.over
  background-color: yellow

#footer
  position: relative
  padding: 10px 0
  overflow: hidden
  clear: both
  // margin: 40px 10px 10px 32px
  font-size: 75%
  color: $pale
  p
    margin: 0
  a
    color: $mid
  min-height: 20px
  background-color: $translucent


@media screen
  #main_content
    bottom: 5px
    left: 10px
    right: 5px

@media not screen
  #main_content
    bottom: 20px
    left: 20px
    right: 10px

@media (max-width:768px)
  #content
    width: 90%
