%section#gmap
#backdrop
%section#content
  #view_toggle
  #user_controls
  %header
    #banner
      %a{:href => "/"}
        %h1.title
          fellrace.org.uk
        %p.strapline
          free love for fell races
  %main#fellrace
#more
  %section#extra
  #action
#notice