%section#gmap
%section#extra
%section#content

  %main

  %header
    #banner
      %a{:href => "/"}
        %h1.title
          fellrace.org.uk
        %p.strapline
          free love for fell races

#user_controls
#notice
#action
