%section#gmap
#backdrop
%section#content
  #view_toggle

  %main

  %header
    #banner
      %a{:href => "/"}
        %h1.title
          fellrace.org.uk
        %p.strapline
          free love for fell races
  #user_controls
%section#extra
#notice
#action
