%section#gmap
%section#extra
%section#content
  %header
    #banner
      %a{:href => "/"}
        %span.title
          fellrace.org.uk
        %span.strapline
          free love for fell races
    #user_controls
  %main

#notice
#action
