%section#gmap
%section#extra
%section#content

  %main

  %header
    #banner
      %a{:href => "/"}
        %span.title
          fellrace.org.uk
        %span.strapline
          free love for fell races
    #user_controls

#notice
#action
